.padd50 {
    padding: 70px 0px;
}
.mr2pt {
    margin-right: 1.2%;
}
p {
    text-align: justify;
    line-height: 150%;
    color: #191919;
}
.boxnews .p1{
    font-size: 23px;
    color: #804f06;
}
.price_product_item{
    color: #9c4a4a99;
    font-size: 18px;
    font-weight: bold;
}




